<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= headTitle %></title>
  </head>
  <body>
    <%- include("partials/navigation", { menuLinks, activeLinkPath }) %>

    <main>
      <h1 class="heading">Add product</h1>

      <form action="/products/add" method="POST" class="form">
        <div class="form__group">
          <label for="name" class="form__label">Name</label>
          <input type="text" id="name" name="name" class="form__input" />
        </div>

        <div class="form__group">
          <label for="description" class="form__label">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form__input"
          />
        </div>

        <button type="submit" class="button">Add</button>
      </form>
    </main>
  </body>
</html>
