<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= headTitle %></title>
  </head>
  <body>
    <%- include("partials/navigation", { menuLinks, activeLinkPath }) %>

    <main>
      <h1 class="heading">Products</h1>

      <% if (products && products.length > 0) { %>
      <ul class="products__list">
        <% products.forEach(product => { %>
        <li class="product__item">
          <strong class="product__label">Name:</strong>
          <span class="product__value"><%= product.name %></span>,
          <strong class="product__label">Description:</strong>
          <span class="product__value"><%= product.description %></span>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <div class="products__empty">No products available.</div>
      <% } %>
    </main>
  </body>
</html>
